
body {
    font-family: 'Times New Roman', Times, serif;
}


.table-income, .total-income{
    background-color: green;
    border-radius: 30px;
}
.table-expense, .total-expenses{
    background-color: red;
    border-radius: 30px;
}
.input-type-bg, .btn-add, .amount-sym{
    background-color: green;
    color: white;
}
.total-money{
    background-color: blue;
    border-radius: 30px;
}
.header{
    color: yellow;
}
.changerColor{
    color: white;
    border-color: red;
    background-color: red !important;
}

.bg-sec{
    background:   url(./Img/monet-bg-3.jpeg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
}

@media only screen and (max-width:38em){
    html{
        /* font-size: 55%; */
    }
    .header{
        font-size: 1.4rem;
    }
    .input-section{
        padding: 0 !important;
    }
    .total-money{
        font-size: 120%;
        width: 70% !important;
    }
    .total-income{
        font-size: 100%;
        width: 70% !important;
    }
    .total-expenses{
        font-size: 100%;
        width: 70% !important;
    }
    .input-group{
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }
    .input-group-prepend{
       width: 100% !important;
       transform:  translateX(30%);
       margin: .5rem;
    }
    .form-control{
        width: 60% !important;
        padding: 1.5rem 2rem;
        border-radius: 2rem !important;
        margin-bottom: .5rem;
        transform: translateX(5%);
    }
    .btn{
        margin-top: .5rem;
    }
    .table{
        font-size: 55%;
    }
}

